<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--
		comment
		-->
		<add key="ClientId" value="******"/>
		<add key="ClientSecret" value="******"/>
		<add key="mainUri" value="https://www.googleapis.com/fitness/v1/users/me/dataSources/derived:com.google.weight:com.google.android.gms:merge_weight/datasets/"/>
		<add key="StartMonth" value="-8"/>
		<add key="EndMonth" value="1"/>
		<add key="MakerURL" value="https://maker.ifttt.com/trigger/******/with/key/******"/>
	</appSettings>
	
  <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <dependentAssembly>
		<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
	  </dependentAssembly>
	</assemblyBinding>
  </runtime>
</configuration>